<div class="text-center bg-secondary">
<h1 class="text-light">Welcome to Awesome To Do!</h1>

<!-- <img src="https://cff2.earth.com/uploads/2017/09/31200356/Nature-imagery-has-a-calming-effects-on-prisoners.jpg" class="img-fluid"> -->

<p class="lead text-light">Home. This is where it all begins. Take a look at the top of the page and you will find navigation to all of the important
    parts of this world of awesome things to do. Click on <span class="btn btn-primary"><a>Your Items</a></span> to see what you've still got left to do or click "new item" if 
    you want to write down that next exciting thing To Do!
</p>
</div>
